<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sifatsdroid.U_GRE">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Useful Words for GRE"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomePage"
            android:label="Useful Words for GRE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyActivity" />
        <activity
            android:name=".ListActivity"
            android:noHistory="true" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivityList" />
        <activity android:name=".Help"></activity>
    </application>

</manifest>